node_modules
.next
.env.local
.env
.env.production
.env.development.local
.env.production.local
.env.production
coverage
prisma/dev.db
storage/private/*
!storage/private/.gitkeep
deploy.log
next-start.log